@charset "UTF-8";

html, body, .yoshiko {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.yoshiko {
  display: flex;
  align-items: center;
  justify-content: center;
}

.yoshiko img {
  width: 100px;
  height: 100px;
  animation: rotate 3s linear infinite;
}
 
@keyframes rotate {
   0% {
       transform:rotate(0deg);
   }
   100% {
       transform:rotate(360deg);
   }
}