body {
  margin: 0;
  padding: 0;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 1px; }

#card {
  width: 80%;
  height: 80%;
  padding: 10% 10% 10%;
  text-align: center; }
  #card .job {
    font-size: 11px;
    color: #333333; }
  #card .icon {
    margin: 15%; }
    #card .icon img {
      width: 120px;
      height: 120px; }
  #card .name .kanji {
    font-size: 18px;
    letter-spacing: 0.3em;
    margin-bottom: 0.2em; }
  #card .name .yomi {
    font-size: 11px; }
  #card .links {
    margin: 22% 0 0;
    padding: 0px;
    text-align: left; }
    #card .links li {
      list-style-type: none;
      font-size: 11px;
      margin-bottom: 7px; }
      #card .links li a:link, #card .links li a:visited, #card .links li a:hover, #card .links li a:active {
        text-decoration: none;
        color: #000000; }
      #card .links li img {
        width: 11px;
        height: 11px;
        margin-right: 7px; }

#bg1 {
  width: 100%;
  height: 1000px;
  overflow: hidden; }
  #bg1 img {
    height: 100%; }

.white_text {
  position: fixed;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  width: 100%;
  z-index: 5;
  letter-spacing: 10px; }
