body {
  margin: 0;
  padding: 0;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }

#card {
  width: 80%;
  height: 78%;
  padding: 12% 10% 10%;
  text-align: center; }
  #card .job {
    font-size: 12px;
    color: #333333; }
  #card .icon {
    margin: 15%; }
    #card .icon img {
      width: 100px;
      height: 100px; }
  #card .name .kanji {
    font-size: 18px;
    letter-spacing: 0.3em;
    margin-bottom: 0.2em; }
  #card .name .yomi {
    font-size: 12px; }
  #card .links {
    margin: 25% 0 0;
    padding: 0px;
    text-align: left; }
    #card .links li {
      list-style-type: none;
      font-size: 12px;
      margin-bottom: 7px; }
      #card .links li a:link, #card .links li a:visited, #card .links li a:hover, #card .links li a:active {
        text-decoration: none;
        color: #000000; }
      #card .links li img {
        width: 12px;
        height: 12px;
        margin-right: 7px; }

