@import './lib/fa/scss/font-awesome.scss';

$font-l: 18px;
$font-m: 16px;
$font-s: 11px;

body{
  margin:0;
  padding: 0;
  font-family: "Avenir next", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 1px;
  a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #000000;
  }
}

.card{
  transform-origin:0 0;
  width: 80%;
  height: 100%;
  padding: 10% 10%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  z-index: 1;
  text-align: center;
  .job{
    font-size: $font-s;
    color: #333333;
  }
  .icon{
    margin: 11%;
    img{
      width: 120px;
      height: 120px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
    }
  }
  .name{
    .kanji{
      font-size: $font-l;
      letter-spacing: 0.4em;
      margin-bottom: 0.3em;
    }
    .yomi{
      font-size: $font-s;
    }
  }
  .links{
    margin: 20% 0 0;
    padding: 0px;
    text-align: left;
    li{
      list-style-type: none;
      font-size: $font-s;
      margin-bottom: 7px;
      img{
        width: $font-s;
        height: $font-s;
        margin-right: 7px;
      }
    }
  }
  .text_box{
    position: absolute;
    top: 230px;
    left: 10%;
    width: 80%;
    opacity: 0;
    .text{
      padding: 20px 10px;
      text-align: left;
      font-size: $font-s;
      line-height: 1.8em;
    }
  }
}

#intro{
  transform-origin:0 0;
  background-color: #FFFFFF;
}

#about{
  background-color: #313437;
  color: #FFFFFF;
  .job{
    color: #FFFFFF;
  }
}

#skills{
  z-index: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  height: 100%;
  .job{
    z-index: 1;
    position: relative;
    width: 100%;
    left: 0;
    top: 20px;
    background-color: #FFFFFF;
    line-height: 2.6em;
  }
  .skills_image {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
    img {
      min-width: 100%;
      height: 100%;
    }
    .fa-check{
      position: absolute;
      color: #000000;
      font-size: 1.6em;
      &#JS{
        top: 13.5%;
        left: 18.5%;
      }
      &#PHP{
        top: 28.4%;
        left: 27.5%;
      }
      &#CSS{
        top: 43.5%;
        left: 50%;
      }
      &#RUBY{
        top: 51%;
        left: 18%;
      }
      &#HTML{
        top: 58.5%;
        left: 54%;
      }
      &#SASS{
        top: 81%;
        left: 63.5%;
      }
    }
  }
}

#works{
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style-type: none;
      margin: 40px 0 0;
      i{
        $size: 60px;
        width: $size;
        height: $size;
        border: 1px solid #000000;
        border-radius: 100%;
        font-size: $size - 40px;
        text-align: center;
        line-height: $size;
      }
      p{
        font-size: $font-s;
      }
    }
  }
}

#bg1, #bg2{
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  img{
    height: 100%;
  }
  .white_text{
    position: fixed;
    top: 45%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: $font-l;
    letter-spacing: 7px;
  }
}

