$font-l: 18px;
$font-m: 16px;
$font-s: 11px;

body{
  margin:0;
  padding: 0;
  font-family: "Avenir next", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  letter-spacing: 1px;
}

.card{
  transform-origin:0 0;
  width: 80%;
  height: 100%;
  padding: 10% 10%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  z-index: 1;
  text-align: center;
  .job{
    font-size: $font-s;
    color: #333333;
  }
  .icon{
    margin: 11%;
    img{
      width: 120px;
      height: 120px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
    }
  }
  .name{
    .kanji{
      font-size: $font-l;
      letter-spacing: 0.4em;
      margin-bottom: 0.3em;
    }
    .yomi{
      font-size: $font-s;
    }
  }
  .links{
    margin: 20% 0 0;
    padding: 0px;
    text-align: left;
    li{
      list-style-type: none;
      font-size: $font-s;
      margin-bottom: 7px;
      a:link, a:visited, a:hover, a:active{
        text-decoration: none;
        color: #000000;
      }
      img{
        width: $font-s;
        height: $font-s;
        margin-right: 7px;
      }
    }
  }
  .text_box{
    position: absolute;
    top: 230px;
    left: 10%;
    width: 80%;
    opacity: 0;
    .text{
      padding: 30px 10px;
      text-align: left;
      font-size: $font-s;
      line-height: 1.8em;
    }
  }
}

#intro{
  transform-origin:0 0;
  background-color: #FFFFFF;
}

#about{
  background-color: #313437;
  color: #FFFFFF;
  .job{
    color: #FFFFFF;
  }
}


#bg1{
  position:fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  img{
    height: 100%;
  }
  .white_text{
    position: fixed;
    top: 45%;
    left: 0%;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: $font-l;
    letter-spacing: 7px;
  }
}

