<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>yoshiko</title>
  <link rel="canonical" href="https://yoshiko-pg.github.io/" />
  <link rel="stylesheet" href="<%= cssFile %>" />

  <!-- Open Graph -->
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="yoshiko" />
  <meta property="og:title" content="yoshiko" />
  <meta property="og:description" content="登壇資料置き場" />
  <meta property="og:image" content="https://yoshiko-pg.github.io/og.png" />
  <meta property="og:url" content="https://yoshiko-pg.github.io/" />

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@yoshiko_pg" />
  <meta name="twitter:title" content="yoshiko" />
  <meta name="twitter:description" content="登壇資料置き場" />
  <meta name="twitter:image" content="https://yoshiko-pg.github.io/og.png" />
</head>
<body>
  <div id="root"></div>
  <script type="module" src="<%= jsFile %>"></script>
</body>
</html>